.navigation {
  background: #ffb500;
  height: 75px;
  margin-bottom: none;
  padding-left: 330px;
  border-bottom: 4px solid #333;
}

.navigation ul li a  {
  text-decoration: none;
  color: #000;
  font-family: 'Sahitya', serif;
  font-size: 17px;
  padding: 10px 15px;
  display: block;
  position: relative;

}
.navigation ul li {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;

}
.navigation ul  {
  margin-bottom: 0px;

}
.left_text {
  height: 100%;
  width: 100%;
  border-bottom: 1px #000;
}
