body {
  margin: 0px;
  padding: 0px;
  background-color: #333;
}
.portfolio {
  width: 1349px;
  margin: 0px auto;
}
.home_photos {
  width: 336px;
  height: 330px;
  float: left;
}
.home_photos img {
  width: 336px;
  height: 330px;
}

.clearer {
  clear: both;
}
.load_info {
  background-color: red;
  height: 120px;
  weight: 100%;

}
