body {
  margin: 0px;
  padding: 0px;
}
.wrapp {
  padding: 0px;
  margin: 0px;
}
.portfolio {
  width: 1349px;
  margin: 0px auto;
}
.home_photos {
  width: 300%
  height: 330px;
  float: left;
}
.home_photos img {
  width: 336px;
  height: 330px;
}

.clearer {
  clear: both;
}
.load_info {
  background-color: #333;
  height: 20px;
  width: : 100%;
  text-align: center;
  padding: 3%

}
.portfolio_bottom {
  padding: 0.8em 2.5em;
  border: 2px solid #FFF;
  font-size: 1em;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-border-radius: 0.5em;
}
.portfolio_bottom a {

}

.our_services {
  background: #ffb500;
  height: 400px;
  width: 100%;
}
.servise_top {
  height: 20%;
  width: 100%;
  float: left;
}
.servise_top h2 {
  color: #373742;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 2em;
}
.servise_bot {
  float: left;
  width: 100%;
  height: auto;
  text-align: center;
}
.servise_top h2 {
  text-align: center;
}
.servise_container {
  height: 100%;
  width: 100%;
  margin-left:
}
.servise_col {
  float: left;
  height: 300px;
  width: 337px;
}
i.icon1{
	width: 96px;
	height: 96px;
  background-image: url("/img/comment-edit-icon.png");
	display: inline-block;
}
i.icon2{
  width: 96px;
	height: 96px;
	background-image: url("/img/folder-blue-pictures-icon.png");
	display: inline-block;
}
i.icon3{
  width: 96px;
	height: 96px;
	background-image: url("/img/Comment-add-icon.png");
	display: inline-block;
}
i.icon4{
  width: 96px;
	height: 96px;
	bbackground-image: url("/img/folder-blue-pictures-icon.png");
	display: inline-block;
}
h3.m_1{
	margin:2em 0 0.5em;
}
h3.m_1 a{
	color:#1e1e24;
	font-size:0.7em;
	text-transform:uppercase;
	text-decoration:none;
}
h3.m_1 a:hover{
	color:#555;
}
p.m_2{
	font-size:0.9125em;
	line-height:1.8em;
	color: #1E1E24;
}
